In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
import pandas as pd
pd.set_option('display.max_columns',15)
table = pd.DataFrame()

import sqlite3
from sqlite3 import Error
conn = sqlite3.connect('D:\\ProgramFiles\\Programming\\Db_files\\TTCS.db')

In [3]:
import sqlite3
from sqlite3 import Error
 
def sql_connection(): 
    try:
        conn = sqlite3.connect('D:\\ProgramFiles\\Programming\\Db_files\\TTCS.db')
        return conn
    except Error:
        print(Error)

In [ ]:
cursorObj = conn.cursor()
cursorObj.execute('''CREATE TABLE Runners
             (idnum integer, fname text, lname text, gender text, age int, city text, state text, sstring text, year int, season text, teamid string)''')
conn.commit()

In [71]:
# Get a cursor object
conn.execute('''DROP TABLE Runners''')
conn.commit()

In [67]:
tname = 'teammembers'
sstring = 'chris'

In [68]:
#query = "Select * from " + tname + " where FLGACS = %" + sstring + "%" 
        #Select * from  TeamMembers where FLGACS like 'George%'
query = "Select * from " + tname + " where FLGACS like " + "'%" + sstring + "%'"
dbquery = pd.read_sql_query(query, conn)
dbquery.head()

,Year,Season,TeamId,DateJoined,First,Last,Gender,Age,City,St,FLGACS
0,2044,Spring,1,1/1/2019,Chris,Haley,M,45,Austin,TX,ChrisHaleyM45AustinTX
1,2069,Spring,1,1/1/2019,Christine,McCown,F,None,College Station,TX,ChristineMcCownFCollege StationTX
2,2071,Spring,1,1/4/2019,Chris,McWatters,M,None,None,TX,ChrisMcWattersMTX
3,2083,Spring,1,1/1/2019,Chris,Prairie,M,31,Austin,TX,ChrisPrairieM31AustinTX
4,2089,Spring,1,1/1/2019,Christian,Reynolds,M,51,Round Rock,TX,ChristianReynoldsM51Round RockTX

In [9]:
import pandas as pd
pd.set_option('display.max_columns',15)
table = pd.DataFrame()

In [12]:
xl_file = 'C:\\Users\\Public\\Documents\\TTCS\\2019_Participants_Teams.xlsx'
xl_sheet = 'Participants_Final'
columns = (0,1,2,3,4,5,6,7,9,11)

table = pd.read_excel(xl_file,
                  sheet_name = xl_sheet,
                  header = 0,
                  index_col = 0,
                  usecols = columns,
                  convert_float = True)
table.head(2)
table.to_sql('TeamMembers',connection,index=False)

ValueError: Table 'TeamMembers' already exists.